
.body{
    margin: 0 auto;
}
/*Background colors*/

/*Text colors*/

/*Nav bar*/

navbar .navbar-toggler {
  border: 0;
}

.navbar a{
    color: white;
    text-decoration: none;
}

.navbar .active{
text-decoration: underline;
}
/*test*/
.pad{
padding-top: 30px;
}
.test{
padding-right: 30px;
padding-left: 30px;
border: 1px solid red;
}
.img{
border: 1px solid black;
height: 130px;
width: 130px;
border-radius: 50%;
padding-left: 10px;
padding-right: 20px;
}
/*Hero image & jumbotron*/

/*code w3cschool on how to do hero image, changed to linear gradient added to right, changed the rgba transparency*/

.hero-background{
  height: 750px;
 background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0)), url("../images/cat_hero6.jpg");
 background-position: 50% 80%;
  background-repeat: no-repeat;
  /*background-size: cover;*/
  /*position: relative;*/
  /*backgroundÏ: url("../images/Cat_hero1.jpg") no-repeat top center fixed;*/
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
   position: relative;
  
  /*display: flex;
  align-items: flex-start;*/
}

.jumbotron-container{
background: transparent;
position: absolute;
text-align: center;
margin: 0;
padding: 0;
top: 100px;

}


/* Headings & Subheadings formatting*/

.section-heading{
text-align: center;
padding-top: 30px;
padding-bottom: 20px;
}

.section-divider{
    width: 90px;
    height: 3px;
    background-color: black;
}
/*Features section*/

/*Services section*/

/*Testimonials section*/

/*form*/

.form-container{
margin: 0 auto;
max-width: 70%;
padding-bottom: 30px;
}
/*media queries*/
