
/*.header-container{
    position: fixed;
    z-index: 1;
}*/
/*Background colors*/
.body{

}
.border{
border: 1px solid dark;
}
.container-fluid{
margin: 0;
padding: 0;
}
.navbar-style{
    background-color: black;

}
/*Nav bar*/
.navbar .navbar-toggler {
  border: 0;
  
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar .active{
text-decoration: underline;
}
/*Hero image*/
/*code from whiskey project --> change to background position*/
.hero-background{
  height: 90vh;
  background: url("../images/cat-hero.jpg") no-repeat bottom left fixed;
  /*fixed*/
   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  /*display: flex
  align-items: flex-start;
  border: 1px solid black;*/
}
/* Headings & Subheadings formatting*/
.section-heading{
text-align: center;
padding-top: 30px;
padding-bottom: 20px;
}
.section-strip{
    width: 90px;
    height: 3px;
    background-color: black;
}
/*Features section*/

/*Services section*/

/*Testimonials section*/

/*form*/
.form-container{
margin: 0 auto;
max-width: 70%;
padding-bottom: 30px;
}
/*media queries
